@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.banner{
    height: 100vh;
    width: 100%;
    background-image: url(/img/thumb-1920-936378.jpg);
    background-color: rgba(0, 0, 0, .5);
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    
}

.banner .navbar {
    margin-top: 4%;
}

.banner .navbar-brand{
    color:#fff; 
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 10%;
}

.banner .nav{
    margin-right: 10% ;
} 

.banner .nav li a{
    color: #fff;
    font-size: 1.2em;
}

.banner .info{
    margin-top: 15%;
    transform: translateY(-15%);
    color: #fff;
}

.banner .info h1{
    font-size: 2.5em;
    font-weight: 700;
    color:  #fff;
    letter-spacing: 2px;
}


.banner .info p{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
}

.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);
    color:#fff; 
    background: #a21de9;
    padding: 10px 20px;
    font-size: 2,5em;
    font-weight: 600;
}

.banner .info a:hover{
    background: #68089c;
}